.landingPageContainer{
    
    width :100vw;
    height: 100vh;
    background: url("./final.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden; /* or: display: flow-root; */ 
    /*to avoid margin collapse of parent*/

}

/* styling navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    border:solid white 2px;
    border-radius: 14px;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;
    
}
.homeLogo{
    transition: box-shadow .2s ease, transform .2s ease;
    
}
.homeLogo:hover{
  box-shadow:
    0 12px 24px rgba(0,0,0,.4),
    0 0 0 1px rgba(255,255,255,.15);
  transform: translateY(-6px);
  border-radius: 14px;
  padding: 0.2rem;
  
}
.navHeader h2{
    font-size: 1.5rem;
    
}
.navList{
    display:flex;
    gap: 1rem;
    padding-top: 0.2rem;
}
.landanchor{
    font-size: 1.2rem;
    color:white;
    text-decoration: none;

}
.landanchor:hover {
    color: white;
     box-shadow:
    0 12px 24px rgba(0,0,0,.4),
    0 0 0 1px rgba(255,255,255,.15);
    transform: translateY(-6px);
    border-radius: 14px;
    padding: 0.1rem;
    cursor: pointer;
}


/*styling main landing page container*/
.landingPageMainContainer{
    display: flex;
    justify-content: space-between;
    gap:10px;
    padding: 5rem;
}
.landingPageMainContainer .imgSide{
    padding-right:3rem;
}
.landingPageMainContainer .imgSide img{
    max-height: 65vh;
    width:auto;
    border-radius: 14px;
}
.landingPageMainContainer .textSide{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-size: 1 rem;
}

.btnStart{
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    /* font-weight: 300; */
}

/*Styling Auth Page*/

.authPageContainer{
    height: 100vh;
    width: 100vw;
    background-image: url('./login1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
    background-position: center;
    position: relative;
}

.loginCard{
    width: fit-content;
    max-width: 27%;
    height: fit-content;
    backdrop-filter: blur(10px);
    position: absolute;
    left: 11%;
    top:15%;
    border-radius: 15px;
    border: solid white 1.5px;
    padding: 0.75rem;
    padding-top:0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.loginForm{
    margin-top: 2.5%;
    width:100%   !important;
    padding: 0px;
}
.loginInpBox{
    width:100%;
    margin: 0.5rem 0rem 0.5rem 0rem   !important;
}

.loginInpBox .MuiOutlinedInput-root fieldset{   /*to control the outline*/
    border-radius: 25px;
    border: solid #1976d2 2px;
}
.loginInpBox .MuiOutlinedInput-root:hover fieldset {
  border-color: #1976d2;
}
.loginInpBox .MuiInputBase-input::placeholder {
  color: #999;
  font-weight: 600;
  opacity: 1;
}
.loginInpBox .MuiInputBase-input {
  color: whitesmoke;
  font-weight: 400;
  opacity: 1;
}
.loginInpBox label {
  color: white;
}

.btnLogin{
    width: 75%;
    border-radius: 25px     !important;
    color: #1976d2       !important;
    background-color: white     !important;
    font-weight: 600  !important;
    font-size: 1.2rem   !important;
    padding: 0rem 1rem 0rem 1rem   !important;
}

/* Styling The Home Page*/
.homePageContainer{
    width :100vw;
    height: 100vh;
    background: url("./homePage.png");
    background-size: 100% 100%;
    overflow: auto; 
    position:relative;
}

/* styling navbar*/
.homePagenavbar{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    border:solid 2px #0A1A2F;
    border-radius: 14px;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2.5rem;
    
}
.homePagenavHeader h2{
    font-size: 1.5rem;
    
}
.homePagenavList{
    display:flex;
    gap: 1rem;
    padding-top: 0.2rem;
}
.anchor{
    font-size: 1.2rem   !important;
    color:#0A1A2F   !important;
    background: none;
    text-decoration: none  !important;
    font-weight: 500 !important;
    padding: 0;
    border: 0;
    
}
.anchor:hover {
    color: #0A1A2F  !important;
    background-color: #DCDCDC  !important;
    border-radius: 14px !important;
    padding-left: 5px !important;
    padding-right: 5px !important; 
    font-weight: 500  !important;
}

.homePageContainer > .meetingCodeFormContainer{
  position: absolute;
  top:25%;
  left:10%;
  /* border: 2px solid black; */
  border-radius: 14px;
  padding: 0.5rem;
  height: 40%;
  width:35%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  color: #0A1A2F;
}
.homePageContainer > .meetingCodeFormContainer > .homePara1{
    font-size: 250%;
    font-weight: 500;

}
.homePageContainer > .meetingCodeFormContainer > .homePara2{
    font-size: 150%;
    font-weight: 500;
    color:  #5F6368;
    margin-top: 5px;
    margin-bottom: 40px;
}
.meetingCodeForm{
    margin-top: 2.5%;
    width:100%   !important;
    padding: 0px;
    display: flex;
}
.meetingCodeInpBox{
    width: 60%;
}
.meetingCodeInpBox .MuiOutlinedInput-root fieldset{   /*to control the outline*/
    border-radius: 14px;
    border: solid #1976d2 2px;
}
.meetingCodeInpBox .MuiOutlinedInput-root:hover fieldset {
  border-color: #1976d2;
}
.meetingCodeInpBox .MuiInputBase-input::placeholder {
  color: #999;
  font-weight: 600;
  opacity: 1;
}
.meetingCodeInpBox .MuiInputBase-input {
  color: black;
  font-weight: 400;
  opacity: 1;
}
.meetingCodeInpBox label {
  color: gray;
}

.meetingCodeBtn{
    width: 7rem;
    border-radius: 14px     !important;
    /* color: #1976d2       !important; */
    /* background-color: white     !important; */
    font-weight: 400  !important;
    font-size: 1.2rem   !important;
    padding: 0.5rem 1rem 0.5rem 1rem   !important;
    font-family: cursive;
    height: 3.4rem;
}

/*Styling the history page*/
.historyPage{
    width :100vw;
    height: 100vh;
    background: url("./history.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: hidden; /* or: display: flow-root; */ 
    /*to avoid margin collapse of parent*/
    position: relative;
    
}

.historyPagenavbar{
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    border:solid 2px #0A1A2F;
    border-radius: 14px;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2.5rem;
}

.historyPage > .historyPageMainContainer{
    position: absolute;
    width:60%;
    border: 2px solid grey;
    left: 50%;
    top:22%;
    transform: translate(-50%);
    padding: 1rem;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    
}

.historyPage > .historyPageMainContainer > .historyHeader{
    /* height:2rem; */
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
.historyPage > .historyPageMainContainer > .historyDetails{
    /* height:2rem; */
    border-bottom: 2px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.historyPage > .historyPageMainContainer > .historyDetails > .heading{
    color: #0A1A2F;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.historyPage > .historyPageMainContainer > .historyDataContainer {
    display: flex;
    flex-direction: column;
}

.historyPage > .historyPageMainContainer > .historyDataContainer > .callDetail {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}

.historyPage > .historyPageMainContainer > .historyDataContainer > .callDetail {
    text-align: center;
    color:#0A1A2F;
    font-size: 1rem;
}





